<div class="col-md-12 text-center">             
    <div class="clr_10"></div>              
    <span class="footer_p30">ChoCongNghiep.Com</span>
    <div style="clear:both;height:5px;"></div>
    <p class="kenh_quang_ba" style="color:#0a5048;">Kênh quảng bá sản phẩm công nghiệp số 1 Việt Nam</p>			 
    <strong>Hiện có  <span style="color:red;">14,602</span>  sản phẩm của  <span style="color:red;">5,853</span>  gian hàng</strong>
    <div style="clear:both;height:20px;"></div>
    <span class="ghichu">
        <i><u>Chú ý:</u> ChoCongNghiep.Com không bán sản phẩm. Quý khách vui lòng liên hệ trực tiếp các nhà cung cấp được liệt kê ở mỗi sản phẩm để tìm nơi cung ứng hàng tốt nhất.</i>
    </span>             			 
</div>