// #HeaderContainer {
//     display: flex; min-height: 50px; 
//     background-color: #D4E9FB; 
//     padding: 10px;
// }
// #HeaderLogo {
//     flex: 8; display: inline;
// }
// #HeaderLogin {
//     display: flex; flex: 3; display: inline; padding-right: 10px; text-align: right;
// }

$fontcolor: #004D47;
$headerHeight: 50px;
*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
    }
    .HomeMargin {
        flex: 1.5;
    }
    .HomeWidth {
        flex: 9;
    }
    .HomeBody {
        display: flex; 
        // margin-top: 10px; 
        background-color: #D4E9FB;
        min-height: 500px;
        width: 100%;
    }

    .HomeBodyCenter {
        // margin-top: 20px;
        display: flex; 
        background-color: rgb(51, 203, 223);
    }
    
    .HomeBanner {
        display: flex; 
        // margin-top: -20px; 
        height: 150px; width: 100%; 
        background-color: beige;
    }
    #Categories {
        background-color: #D4E9FB; 
        // height: 100%;
    }
    .FullWidth {
        width: 100%;
    }
    .FullHeight {
        height: 100%;
    }
    
    .content{
    padding: 0 20px;
    }
    .content img{
        width: 100%;
        max-width: 700px;
        margin: 20px 0;
    }
    .content p{
        text-align: justify;
    }
    
    @media screen and (max-width:800px) {
        .show-menu-btn,.hide-menu-btn{
        display: block;
    }
}
    