// #HeaderContainer {
//     display: flex; min-height: 50px; 
//     background-color: #D4E9FB; 
//     padding: 10px;
// }
// #HeaderLogo {
//     flex: 8; display: inline;
// }
// #HeaderLogin {
//     display: flex; flex: 3; display: inline; padding-right: 10px; text-align: right;
// }

*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
    }
    .HomeMargin {
        flex: 2;
    }
    .HomeWidth {
        flex: 8;
    }
    .HomeBody {
        display: flex; margin-top: 10px; 
        background-color: #D4E9FB;
        min-height: 500px;
        width: 100%;
    }

    .HomeBodyCenter {
        margin-top: 20px;
        display: flex; 
        background-color: #E1ECF1;
    }
    
    .HomeBanner {
        display: flex; margin-top: -20px; 
        height: 200px; width: 100%; 
        background-color: beige;
    }
    #Categories {
        background-color: cadetblue; 
        height: 100%;
    }
    .FullWdith {
        width: 100%;
    }
    .FullHeight {
        height: 100%;
    }
    
    .HeaderContainer {
        height: 115px;
        background: #34495e;
        padding: 0 20px;
        color: #fff;
    }
    .logoheader{
        line-height: 100px;
        float: left;
        text-transform: uppercase;
    }
    
    .MenuHeader{
        float: right;
        line-height: 100px;
    }
    .MenuHeader a{
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0 10px;
        transition: 0.4s;
    }
    .show-menu-btn, .hide-menu-btn {
        transition: 0.4s;
        font-size: 30px;
        cursor: pointer;
        display: none;
    }
    .show-menu-btn{
        float: right;
    }
    .show-menu-btn i{
        line-height: 100px;
    }
    .MenuHeader a:hover,
    .show-menu-btn:hover,
    .hide-menu-btn:hover{
        color: #3498db;
    }
    
    #chk{
        position: absolute;
        visibility: hidden;
        z-index: -1111;
    }
    
    .content{
    padding: 0 20px;
    }
    .content img{
        width: 100%;
        max-width: 700px;
        margin: 20px 0;
    }
    .content p{
        text-align: justify;
    }
    
    @media screen and (max-width:800px) {
        .show-menu-btn,.hide-menu-btn{
        display: block;
    }
    .MenuHeader {
        position: fixed;
        width: 100%;
        height: 100px;
        background: #333;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
    }
    .MenuHeader a{
        display: block;
        padding: 20px;
    }
    .hide-menu-btn{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #chk:checked ~ .MenuHeader{
        right: 0;
    }
}
    