<div class="p-fluid ">
  <div class="p-grid">
    <div class="p-col-8">
      <p-panel header="Available dashboards">
        <br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br />
      </p-panel>
    </div>
    <div class="p-col-4">
      <p-panel header="Properties">
        Dashboard properties
        <br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br />
      </p-panel>
    </div>
  </div>
  <div>
    <p-tabView>
      <p-tabPanel header="Sharing">
        <div>List of sharing</div>
        <br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br />
      </p-tabPanel>
      <p-tabPanel header="Dependencies">
        <div>List of dependencies</div>
        <br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br />
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
