<div class="HomeBanner">
    <div class="HomeMargin">
    </div>
    <div class="HomeWidth">
        <img src="../../../assets/images/tmp/chocongnghiep.png">
    </div>
    <div class="HomeMargin">
    </div>
</div>
<div class="HomeBody">
    <div class="HomeMargin ">
    </div>
    <div class="HomeBodyCenter HomeWidth">
        <div id="Categories" style="flex: 1">
            <div class="catetitle">
                Danh Mục Sản Phẩm
            </div>
            <ul class="menu">
                <a href="products">Bao bì - đóng gói</a>
                <a href="#">Bảo hộ lao động - pccc</a>
                <a href="#">Băng tải - băng truyền</a>
                <a href="#">Bơm các loại</a>
                <a href="#">Bu lông ốc vít</a>
                <a href="#">Dây chuyền sản xuất</a>
                <a href="#">Dụng cụ cắt - dao cụ</a>
                <a href="#">Máy khoan - cắt - hàn - mài</a>
                <a href="#">Máy nông nghiệp</a>
                <a href="#">Phụ tùng công nghiệp</a>
                <label for="chk" class="hide-menu-btn">
                    <!-- <i class="fas fa-times"></i> -->
                    <i class="fas fa-ellipsis-h"></i>
                </label>
            </ul>
        </div>
        <div id="offset">
        </div>
        <div style="flex: 4;" id="body">
            <div id="carousel">
                <app-home-carousel></app-home-carousel>
            </div>
            <div id="products">
                List of products
            </div>
            <div id="recentViewed">
                List of recent viewed product
            </div>
        </div>
    </div>
    <div class="HomeMargin">

    </div>
</div>
