<div class="HomeBanner">
    <div class="HomeMargin">
    </div>
    <div class="HomeWidth">
        <img src="../../../assets/images/tmp/chocongnghiep.png">
    </div>
    <div class="HomeMargin">
    </div>
</div>
<div class="HomeBody">
    <div class="HomeMargin ">
    </div>
    <div class="HomeBodyCenter HomeWidth">
        <div id="Categories" style="flex: 1">
            Menu
        </div>
        <div style="flex: 3;" id="body">
            <div id="caruel" style="min-height: 300px; background-color: chartreuse;">
                Carouel
            </div>
            <div id="product" style="height: 400px; background-color: cornflowerblue;">
                List of products
            </div>
            <div id="recentViewed" style="height: 400px;">
                List of recent viewed product
            </div>
        </div>
    </div>
    <div class="HomeMargin">

    </div>
</div>
