<div style="display: flex; margin-top: -20px; height: 200px; width: 100%; background-color: beige;">
    <div class="HomeMargin">
    </div>
    <div class="HomeWidth">
        <img src="../../../assets/images/tmp/chocongnghiep.png">
    </div>
    <div class="HomeMargin">
    </div>
</div>
<div style="display: flex; margin-top: 10px; background-color: #D4E9FB;min-height: 500px;">
    <div class="HomeMargin ">
    </div>
    <div class="HomeBody HomeWidth">
        <div id="Categories" style="flex: 1">
            Menu
        </div>
        <div style="flex: 3;" id="body">
            <div id="caruel" style="min-height: 300px; background-color: chartreuse;">
                Carouel
            </div>
            <div id="product" style="height: 400px; background-color: cornflowerblue;">
                List of products
            </div>
            <div id="recentViewed" style="height: 400px;">
                List of recent viewed product
            </div>
        </div>
    </div>
    <div class="HomeMargin">

    </div>
</div>
