.container {
    padding: 30px 60px 30px 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.body {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    border: 2px solid #004D47;
    .title {
        line-height: 30px;
        display: block;
        background-color: #004D47;
        padding: 10px;
        font-size: 2rem;
        color: #fff;
    }
}
.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    width: 230px;
    height: 280px;
    border: 1px solid greenyellow;
    // padding: 0 10px 10px 10px;
    font-size: 2rem;
    text-align: center;
    margin: 10px;
    .price {
        // border-bottom: rgb(148, 153, 140) 2px solid;
        font-size: 2rem;
        color: hotpink;
        // text-align: right;
    }
    .des {
        margin-top: 10px;
        // font-size: 1.5rem;
        //  border-bottom: rgb(148, 153, 140) 2px solid;
    }
    .footer {
        margin-top: 5px;
    }

    .bt {
        padding: 0 10px;
    }
    img {
        width: 130px;
        height: 150px;
    }
    .bodyCard {
        // padding-top: 10px;;
    }
}
.card:hover {
    background-color: #D4E9FB;
}
// .zoom:hover {
//     -ms-transform: scale(3.5); /* IE 9 */
//     -webkit-transform: scale(3.5); /* Safari 3-8 */
//     transform: scale(3.5); 
//     z-index: 1500;
//   }
